*.class
# Package Files #
# *.jar
*.war
*.ear
rebel.xml
bin/
target/
jetty.log
workspace/
results/
profile.tmp
work
private
.ruby-version
config.yaml
first_attempt_with_docker
run_docker
elexis
scripts/override
wheezy/Gemfile
wheezy/autagent*
user/
*~
# File generated, because this is the home on docker
.m2
.bash_history
.bundle/
.byebug_history
.fontconfig/
.install4j
.oracle_jre_usage/
.viminfo
.java
.jubula
Gemfile.lock
